<launch>
    <include file="$(find rover_package)/launch/curiosity_spawn.launch" />
    <include file="$(find rover_package)/launch/rover_control.launch" />
    <include file="$(find rover_package)/launch/rover_systems.launch" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rover_package)/rviz/curiosity_mars_rover.rviz" />
</launch>